<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="Mobile Robot">

    <xacro:arg name="use_ros2_control" default="false"/>
    <xacro:arg name="sim_mode" default="true"/>

    <xacro:include filename="$(find mobile_robot)/description/xacro/robot_core.xacro" />

    <!-- Control inclusion based on use_ros2_control argument -->
    <xacro:if value="${'$(arg use_ros2_control)' == 'true'}">
        <xacro:include filename="$(find mobile_robot)/description/xacro/ros2_control.xacro" />
    </xacro:if>
    <xacro:if value="${'$(arg use_ros2_control)' == 'false'}">
        <xacro:include filename="$(find mobile_robot)/description/xacro/gazebo_control.xacro" />
    </xacro:if>

</robot>